.App {
  text-align: center;
}
.tsparticles-canvas-el {
  height: 99.5vh !important;
}
.particles {
  background-color: black;
}
.custom-subTitle {
  color: white;
}
.flex-container {
  display: flex;
}